.home {
  .container {
    width: 80%;
    border: 1px solid #685d5d;
    padding: 20px 20px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow:
      rgba(115, 153, 236, 0.4) 5px 5px,
      rgba(122, 240, 214, 0.3) 10px 10px,
      rgba(2, 100, 32, 0.2) 15px 15px,
      rgba(240, 46, 170, 0.1) 20px 20px,
      rgba(240, 46, 170, 0.05) 25px 25px;
    .heading-title {
      display: flex;
      align-items: center;
      svg {
        transform: rotate(180deg);
        display: none;
      }
      .note-heading {
        font-size: 20px;
        text-align: left;
        font-weight: 500;
        margin-bottom: 15px;
        font-weight: semibold;
      }
    }
    h1 {
      text-transform: uppercase;
      margin-bottom: 15px;
      font-size: 25px;
      h2 {
        display: inline-block;
        color: #f02424;
        font-size: 25px;
      }
    }
    .item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-bottom: 15px;
      .itemLink {
        width: 100%;
        text-align: center;
        text-decoration: none;
        color: black;
        padding: 7px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border: 2px solid #292020;
        // box-shadow:
        //   rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        //   rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        .icon {
          width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 15px;
        }
        .text {
          color: black;
          font-weight: bold;
        }
      }
    }
  }
}
